body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
 
}
.bg{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height:100%;
}
header {
  width: auto;
  height: 30px;
  padding: 15px 15px;
  background-color: rgb(37, 36, 36);
  text-align: center;
}
header > text {
  font-size: large;
  color: white;
}

.heading {
  padding-left: 20px;
  font-size: 2.5vw;
  font-weight: lighter;
}

p {
  font-size: 1.9vw;
  padding-left: 20px;
  margin-bottom: 15px;
}
.fa-rocket {
  color: black;
}
.fa-wrench {
  color: black;
}
.fa-cog {
  color: black;
}
.fa-pen {
  color: black;
}
.fa-skull {
  color: black;
}
.center {
  display: flex;
  justify-content: center;
  font-size: lighter;
}


