body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
header {
  width: auto;
  height: 30px;
  padding: 15px 15px;
  background-color: white;
  margin-bottom: 2rem;
}
header > text {
  font-size: 1.3rem;
  color: rgb(0, 255, 0);
  cursor: pointer;
}

header > a > button {
  font-family: monospace;
  font-size: 0.9rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 5px 5px;
  padding: 10px;
  border-style: none;
  background-color: rgb(86, 252, 86);
  color: white;
  cursor: pointer;
}
.intro {
  background-image: url("../undraw_Chat_re_re1u.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  /* min-width: 1000px; */
  height: 45vw;
}
.intro-text {
  position: absolute;
  margin-top: 5%;
  right: 2.5%;
}
.intro-text > h1 {
  font-size: 4vw;
  text-align: right;
  padding-right: 7vw;
  margin-left: 30px;
}

.intro-text > h2 {
  margin-left: 30px;
  font-size: 2.5vw;
  text-align: right;
  padding-right: 9vw;
}
.main {
  color: #24fd27;
}
.main2 {
  color: rgb(0, 255, 0);
}

p {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  padding: 10px;
}
.motivation {
  position: relative;
  background-image: url("../undraw_healthy_habit_bh5w.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
  width: 100%;
  height: 40vw;
}
.motivation > text {
  position: absolute;
  top: 42%;
  left: 0px;
  font-size: 4vw;
  text-align: left;
  padding-right: 7vw;
  margin-left: 30px;
}
.success {
  position: relative;
  margin-top: 80px;
  background-image: url("../undraw_make_it_rain_iwk4.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: left;
  width: 100%;
  height: 40vw;

}
.success > text {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 4vw;
  float: right;
  text-align: right;
  padding-right: 7vw;
  margin-left: 30px;
}
.love {
  position: relative;
  margin-top: 80px;
  background-image: url("../undraw_love_xfcv.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
  width: 100%;
  height: 45vw;
}
.love > text {
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 4vw;
  text-align: left;
  padding-right: 7vw;
  margin-left: 30px;
}
.dp {
  width: 65vw;
  
}
.center {
  display: flex;
  height: fit-content;
  justify-content: center;
}
.offers {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.offers > ul {
  padding-top: 3vw;
  display: block;
  list-style: none;
}
.offers > ul > li {
  font-size: 3.5vw;
  margin-bottom: 10%;
}

.fa-check-circle {
  color: green;
}

.launch {
  width: 40vw;
  font-size: 3.5vw;
  height: 12vw;
  border-radius: 70px 70px;
  padding: 2px 2px;
  border-style: none;
  background-color: #56FC56!important;
  color: white;
  cursor: pointer;

}
.fontx {
  font-size: 4vw;
  font-weight: lighter;
  margin-bottom: 0px;
  
}


.footer{
  background-color: #DDE2E9;
  display: flex;
  height: fit-content;
  padding: 15px;
  justify-content: center;
  margin-top: 4rem;
}
.footer > p >  a{
  text-decoration: none;
  color: #253858;
}
.footer > p > .fa-heart{
  color: #253858;
}


